* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Audiowide, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.left_panel {
    /* postion: sticky on desktop */
    position: relative;
    top: 0;
    /* width: 55vw; on desktop */
    height: 45vh;
    background-image: url(fps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.left_panel > h1{
    top: 10%;
    position: absolute;
    background-color: rgba(255, 240, 230, .8);
    font-size: 2em;
    /* height: 2em; */
    width: 100%;
    padding: 1.2em 0px;
    text-align: center;
}

.main {
    display: flex;
    /* flex-direction: row on desktops */
    flex-direction: column;
}

.right_panel {
  flex-shrink: 3;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_panel button,
.right_panel fieldset {
    margin-top: 60px;
}

/* Some form widgets do not automatically inherit the font size and font family of their parents. Browsers will instead use the system's default. */
input,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button {
    margin-bottom: 5vh;
    padding: 8px 0px;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px gray;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputs {
    display: flex;
    margin-bottom: 40px;
}

label {
    /* Labels are, by default, inline elements. The width of inline elements cannot be explicitly set. */
    display: inline-block;
    width: 180px;
    margin-top: 25px;
}

li{
    width: 50%;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.5em;
}

fieldset, p, .left_panel {
    min-width: 300px;
}

input {
/* Remove System-Level styling */
appearance: none;
border-radius: 3px;
/* border: 2px solid silver; */
padding-left: 5px;
width: 180px;
}


input:valid {
    border: solid 2px green;
}

input:invalid {
    border: solid 2px red;
}

/* input:required {
    border: solid 2px black;
} */

input:focus:invalid,
input:focus:valid {
    outline: none;
    border: 2px solid blue;
    box-shadow: 5px 5px 10px black;
}

li > p {
    font-size: 11px;
}

@media only screen and (min-width: 880px) {
    .left_panel {
        position: sticky;
        width: 55vw;
        height: 100vh;
        background-size: cover;
    }

    .main {
        flex-direction: row;
    }

    ul {
        flex-direction: row;
    }
}
