* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Audiowide, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}

.left_panel {
    /* postion: sticky on desktop */
    position: relative;
    top: 0;
    /* width: 55vw; on desktop */
    height: 45vh;
    background-image: url(fps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.left_panel > h1{
    top: 10%;
    position: absolute;
    background-color: rgba(255, 240, 230, .8);
    font-size: 2em;
    /* height: 2em; */
    width: 100%;
    padding: 1.2em 0px;
    text-align: center;
}

.main {
    display: flex;
    /* flex-direction: row on desktops */
    flex-direction: column;
}

.right_panel {
  flex-shrink: 3;
  padding-left: 3em;
  padding-right: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_panel button,
.right_panel fieldset {
    margin-top: 60px;
}

/* Some form widgets do not automatically inherit the font size and font family of their parents. Browsers will instead use the system's default. */
input,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputs {
    display: flex;
    margin-bottom: 40px;
}

label {
    /* Labels are, by default, inline elements. The width of inline elements cannot be explicitly set. */
    display: inline-block;
    width: 140px;
    margin: 25px 0px;
}

li{
    width: 50%;
}

p {
    font-size: 1.5em;
}

fieldset, p {
    min-width: 500px;
}

@media only screen and (min-width: 720px) {
    .left_panel {
        position: sticky;
        width: 55vw;
        height: 100vh;
    }

    .main {
        flex-direction: row;
    }

}
